*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    width: 160vh;
}

.container_login {
  display: grid;
  justify-content: center;
  grid-template-columns: 80vh 80vh;
  grid-template-rows: 8vh 4vh 60vh 60vh 32vh;
}


/*...................................................header.................................................. */

.header_logo{
    color: white;
}
.footer_about{
    color: white;
}
.footer_contact{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: lightgray;
}

header{
    background-color: #005aa7;
    display: grid;
    grid-column: 1/3;
    grid-row: 1/3;
    justify-items: center;
    align-items: center;
}

header ul {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

header ul li {
  list-style-type: none;
  display: inline;
  list-style-type: none;
  font-weight: 400;
  padding: 1.5vh;
  margin-top: 3vh;
}

.left_header{
    margin-right: 21vh;
    grid-row: 1/3;
}

.right_header{
    margin-left: -11.5vh;
}



.search{
    grid-column: 2/3;
    justify-self: center;
    margin-left: 23vh;
    margin-bottom: 2.5vh;
}

.header_submit{
    background-color: #005aa7;
    padding: 0.5vh;
    color: white;
    font-weight: 700;
}

.header_submit:hover{
    cursor: pointer;
}

.header_search{
    height: 3.5vh;
    width: 25vh;
}

/*...................................................footer.................................................. */

footer{
    margin-top: 10vh;
    background-color: #005aa7;
    display: grid;
    grid-row: 5/7;
    grid-column: 1/3;
    justify-items: center;
    align-items: center;
}

.center_footer{
    margin-top: -1.5vh;
}

.right_footer{
    margin-top: 1vh;
}

.left_footer{
    margin-top: 4vh;
    justify-self: left;
    margin-left: 10vh;
}

.center_footer {
  margin-top: -20.5vh;
  margin-right: 3vh;
  text-align: center;
}

.center_footer ul li{
    margin-top: 1vh;
    list-style-type: none;
    color: white;
}

.right_footer {
    justify-self: self-end;
      margin-top: -20.5vh;
      margin-bottom: 4vh;
      margin-right: 3vh;
      text-align: center;
}

.right_footer ul li{
    margin-top: 1vh;
    list-style-type: none;
    color: white;
}

/*...................................................Contact us form.................................................. */
.form_header{
    text-align: center;
}
form{
    width: 109vh;
    margin: 0 auto;
    margin-top: 6vh;
}
form label{
    font-weight: 400;
}
.form_text{
    width: 109vh;
    height: 4vh;
    border: 1px solid lightgrey;
    margin-bottom: 2vh;
    padding: 1vh;
}
textarea{
    width: 100%;
    height: 80px;
    border: 1px solid lightgrey;
    margin-bottom: 2vh;
    padding: 1vh;
    resize: none;
}
.form_submit{
    background-color: #005aa7;
    padding: 0.5vh;
    color: white;
    font-weight: 700;
}
.form_submit:hover{
    cursor: pointer;
}

/*...................................................Login page/form.................................................. */
.box {
    position: absolute;
    top: 60%;
    left: 50%;
    right: 0vh;
    transform: translate(-50%, -50%); //The transform property applies a 2D or 3D transformation to an element.
    width: 25rem;
    padding: 2.5rem;
    box-sizing: border-box;
    border: 1px solid black;

  }

  .box h2 {
    margin: 0px 0 -0.125rem;
    padding: 0;
    color: #fff;
    text-align: left;
    color: #202124;
    font-family: arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .box .inputBox {
    position: relative;
  }

  .box .inputBox input {
    width: 90vh;
    padding: 0.625rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;

  }

  .box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: 0.5s;
  }


  .box input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 3.25rem;
    cursor: pointer;
    font-size: 1rem;
    float: left;
  }


 #register {
  	text-decoration: none;
    background-color: white;
    color: black;
    font-family: arial, sans-serif;
  }

/*...................................................Register page/form.................................................. */

.description {
  grid-row: 3;
  grid-column: 1;
  margin-left: 54vh;
  margin-top: 8vh;
  color: #005aa7;
}


#registration {
	display: inline-grid;
	grid-column: 1/3;
	grid-row: 3/5;
}

.registration_box {
	display: inline;
	width:500px;
	height:333px;
	margin:25px;
}

#registeraccount{
	width: 100px;
	color: white;
	font-family: Segoe UI;
	background-color: #005aa7;
}


.registration_box form{
	margin-left: 50vh;
  margin-top: 9vh;

}

.registration_box input{
	width: 300px;
	height: 30px;
	margin-bottom: 10px;
	margin-top: 15px;
	border: 1px solid;
}
/*...................................................Home.................................................. */
.home_p{
    color: black;
}
.home_img{
    margin-left: -15vh;
}
.home_img2{
    width: 40vh;
    height: 40vh;
    margin-left: -7vh;
}
.home_main{
    margin: 3vh auto;
    display: grid;
    width: 109vh;
    grid-template-columns: 36vh 36vh 36vh;

}
.home_end{
    align-self: center;
    justify-self: center;
    grid-column: 2/4;
}
.home_right{
    color: #202124;
}
.home_right1{
    color: #202124;
}
.submit1{
    padding: 0.8vh 1vh;
    background-color:#156bb8 ;
    color: white;
    border: none;
    margin-left: 59vh ;
}
.submit1:hover{
    cursor: pointer;
}
.home_main1{
    margin: 3vh auto;
    display: grid;
    width: 109vh;
    grid-template-columns: 36vh 36vh 36vh;
}
.home_end1{
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
}
.submit2{
    margin-top: 2vh;
    padding: 0.8vh 1vh;
    background-color:#156bb8 ;
    color: white;
    border: none;
}
.submit2:hover{
    cursor: pointer;
}
/*Product overview */
#container{
    margin: 0 auto;
    width: 1024px;
    background-color: white;
}
#pearphone{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 20px;
}
article.pearPhonePhoto{
    grid-column: 1/2;
}
article.PearPhoneText{
    grid-column: 2/3;
    text-align: left;
    margin-left: 50px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    color: black;
}
article.PearPhoneText input[type=submit]{
    background-color: #156bb8;
    color: white;


}
#PearProduct{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-top: 20px;
    grid-gap: 20px;
}
.Product1{
    grid-column: 1/2;
    text-align: center;
    background-color: #f5f5f5;
}
.Product1:hover{
    background-color: lightgray;
}
.Product2{
    grid-column: 2/3;
    text-align: center;
    background-color: #f5f5f5;
}
.Product2:hover {
    background-color: lightgray;
}
.Product3{
    grid-column: 3/4;
    text-align: center;
    background-color: #f5f5f5;
}
.Product3:hover {
    background-color: lightgray;
}
.Product4{
    grid-column: 4/5;
    text-align: center;
    background-color: #f5f5f5;
}
.Product4:hover {
    background-color: lightgray;
}
/******** Shopping cart *******/

#containerCart{
    margin: 0 auto;
    width: 1024px;
    height: 50vh;
}
#cartItem1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #cccccc;
    margin-top: 30px;

}
article.cartText{
    margin-top: 10px;
    margin-bottom: 50px ;
}

.productImage {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;
}
.cartproductName {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: auto;
}
article.amount {
    grid-column: 3/4;
    grid-row: 1/2;
    margin: auto;
}
article.amount p{
    display: inline;
    margin: auto;
}
.cartPrice {
    grid-row: 1/2;
    grid-column: 4/5;
    margin: auto;
}

.productImage1 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: auto;
}
.cartproductName1 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
}
article.amount1 {
    grid-column: 3/4;
    grid-row: 2/3;
    margin: auto;
}
article.amount1 p{
    display: inline;
    margin: auto;
}
.cartPrice1 {
    grid-row: 2/3;
    grid-column: 4/5;
    margin: auto;
}

.buttonCart1 input[type=submit]{
    border: none;
    outline: none;
    color: #fff;
    background-color: #1a73e8;
    padding: 0.625rem 3.25rem;
    cursor: pointer;
    font-size: 1rem;
    float: right;
    margin-right: 20px;

}
.buttonCart2 input[type=submit]{
    border: none;
    outline: none;
    color: #fff;
    background-color: red;
    padding: 0.625rem 3.25rem;
    cursor: pointer;
    font-size: 1rem;
    float: right;
    margin-right: 30px;
}
